Tailwindcss-theme_original {
	blue01:     #7DD3FC;
	green01:    #99F6E4;
	pink01:     #F472B6;
	gray01:     #E2E8F0;
	gray02:     #CBD5E1;
	gray03:     #64748B;
	bgray01:    #0B2C44;
	bgdreen:	#0A2530;
	navy:       #112F50;
	dnavy:      #17274A;
	bg01:       #1E293B;
	bg02:       #0F172A;
	bg03:       #0C1526;
	fg01:       #F8FAFC;
	darkblue01: #111B2E;
	darkblue02: #111B35;
	dark01:     #182839;
}

Tailwindcss-theme_02 {
	blue01:     #569fbf;
	blue02:     #00bff6;
	green01:    #7bd1c5;
	pink01:     #b45c8e;
	pink03:     #9f2d6d;
	gray01:     #e1e8f0;
	gray02:     #5b6d84;
	bg01:       #0d1729;
	bg02:       #0c2840;
	bg03:       #5e7085;
	bg04:       #111b2e;
	darkblue01: #172649;
	darkblue02: #10304d;
	darkblue02: #0b324d;
}